.wrapper {
  @apply tw-text-center;

  @screen laptop {
    @apply tw-text-right;
  }

  .title {
    @apply tw-text-center tw-text-6xl;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

    @screen tablet {
      font-size: 64px;
      line-height: 64px;
    }

    @screen laptop {
      @apply tw-text-right;
    }
  }

  .description {
    @apply tw-mt-4 tw-font-light tw-font-body;
    line-height: 18.4px;
    font-size: 1rem;
    max-width: 321px;

    @screen tablet {
      font-size: 1.5rem;
      line-height: 27.6px;
      max-width: 521px;
    }
  }
}

.gradientText {
  line-height: 41px;
  background: linear-gradient(
    90deg,
    theme("colors.purple-envited") 24.2%,
    theme("colors.pink-envited") 120.46%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @screen tablet {
    line-height: 73.59px;
  }
}
